body {
    background-image: url(https://i.pinimg.com/736x/66/22/69/662269dfb86cea9e3da3c095884ca2fd.jpg);
    background-repeat: contain;
    font-family:'yipes';
    font-size: 2rem;
}

:root {
    scrollbar-color: rgb(211, 177, 249) rgb(254, 253, 255);
    scrollbar-width: thin;
}

::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(211, 177, 249);
    border-radius: 15px;
}

::-webkit-scrollbar-track {
    background-color: rgb(254, 253, 255);
}

@font-face {
font-family:'psyche';
src: url(https://dl.dropbox.com/s/gavkuhehligvhz8/PsycheLover-Regular.otf);
}

@font-face {
font-family:'yipes';
src: url(https://dl.dropbox.com/s/qrdm3wived8sm66/Yipes.ttf);
}

@font-face {
    font-family: 'teutonic3';
    src: local('teutonic3'), url(https://fontsforweb.com/fonts/2552/teutonic3.woff) format('woff');
}

p,h1,h2,h3,h4,h5,h6 {
    color: ghostwhite;
    max-width: 90%;
    margin: 1.3rem auto;
}

.box {
    width: clamp(320px, 92vw, 900px);
    margin: 1rem auto;
}

.frame {
    position: relative;
    width: 100%;
    text-align: center;
}

.topimg{
    display: block;
    width: 100%;
    max-width: none;
    margin-bottom: -1px;
}

.botimg {
    display: block;
    width: 100%;
    max-width: 100%;
    margin-top: -1px;
}

.midb {
    background: linear-gradient(rgb(0, 0, 0), rgb(1, 3, 32));
    border-style: none groove none groove;
    border-color: darkorchid;
}

.minib {
    margin: 1vw auto;
    width: 90%;
    height: 300px;
    aspect-ratio: 2 1;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
}

@media (max-width: 768px) {
    .box {
        width: 96vw;
        margin: 0 auto;
    }

    .midb p {
        font-size: 1rem;
    }

    .minib {
        width: 95%;
        height: 60vh;
    }

    .group {
        gap: .5em;
        padding-right: 3em;
    }

    .group2 {
        gap: .5em;
        padding-right: .5em;
    }

    .buttons {
        width: 35px;
    }

    .buttons button {
        transform: translateX(0);
    }

    .coolbtn {
        width: 35px;
        height: 35px;
        font-size: 0.8rem;
    }

    .crscreen,
    .chatscreen,
    .musicscreen {
        width: 70vw;
        height: 45vh;
        padding: 10px;
        bottom: 1vh;
    }

    .songsbutton {
        gap: 10px;
    }

    .songsbutton button {
        width: 40px;
        height: 30px;
    }

}

img {
    max-width: 100%;
}

.carousel {
    margin: 0 auto;
    padding: 5px 0;
    overflow: hidden;
    display: flex;
}

.group {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    gap: 1em;
    padding-right: 1em;
    animation: scroll 17s linear infinite;
}

.group2 {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    gap: 1em;
    padding-right: 1em;
    animation: scroll 12s linear infinite;
}

.carousel:hover .group, .carousel:hover .group2 {
    animation-play-state: paused;
}

@keyframes scroll {
    0% {transform: translateX(0);}
    100% {transform: translateX(-100%);}
}

.card {
    flex: 0 0 auto;
    width: 120px;
    height: auto;
}

.card2 {
    flex: 0 0 auto;
    height: 20px;
    width: auto;
}

.linklist {
    display: flex;
    align-items: center;
    gap: 2em;
    max-width: 100%;
    height: 7vh;
    overflow-x: auto;
    white-space: nowrap;
    margin: 0 auto;
    padding: 1vw;
    background-color: rgba(255, 255, 255, 0.386);
    border-style: none dotted none dotted;
    border-color: rgba(80, 80, 80, 0.699);
    overflow-y: hidden;
    scrollbar-width: thin;
    scrollbar-color: rgb(234, 217, 254) rgba(254, 253, 255, 0.767);
    filter: drop-shadow(1px 1px 5px rgba(175, 173, 178, 0.585));
}

.linklist a {
    background-color: rgb(255, 255, 255);
    height: 95%;
    border-style: solid;
    border-width: 5px 20px 1px 20px;
    border-color: white;
    font-size: 1.7rem;
    color: rgb(62, 19, 127);
}

a:link {
    text-decoration: none;
}

a:link:hover {
    text-decoration: underline;
}

.animg {
    display: block;
    width: 100%;
}

.drawer {
    position: fixed;
    left: 0;
    bottom: 1vh;
    width: clamp(120px, 20vw, 250px);
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 3em;
}

.buttons button {
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    transform: translateX(-2.5%);
    z-index: 9;
}

.crbtn,
.chatbtn,
.musicbtn {
    transition: 0.2s;
}

.crbtn:hover,
.chatbtn:hover,
.musicbtn:hover {
    transform: scale(1.04) translateX(0);
    cursor: pointer;
}

.buttons {
    display: block;
    width: clamp(30px, 4vw, 50px);
    height: auto;
}

.coolbtn {
    border-style: outset;
    background: linear-gradient(rgb(10, 10, 17), rgb(42, 10, 74));
    width: clamp(35px, 5vw, 50px);
    height: clamp(35px, 5vw, 50px);
    align-content: center;
    overflow: hidden;
    font-family: 'teutonic3';
}

.crscreen,
.musicscreen,
.chatscreen {
    position: fixed;
    bottom: 2vh;
    transform: translateX(-110%);
    width: clamp(160px, 35vw, 250px);
    height: clamp(160px, 35vw, 250px);
    padding: clamp(10px, 2vw, 20px);
    background: linear-gradient(rgb(16, 16, 28), rgb(43, 11, 77));
    background-size: contain;
    background-repeat: no-repeat;
    color: ghostwhite;
    padding: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
    filter: drop-shadow(1px 1px 5px black);
    transition: 0.6s ease;
    border-style: outset;
}

.crscreen.open,
.chatscreen.open,
.musicscreen.open {
    transform: translateX(clamp(40px, 12vw, 60px));
}

.newsh {
    max-width: 90%;
    margin: 0;
    padding: 0;
    word-wrap: break-word;
    line-height: 1.4;
}

.chatbox {
    width: 100%;
    height: 100%;
    overflow: hidden;

    border-radius: 1vw;

    background: rgba(39, 10, 64, 0.16);

    backdrop-filter: blur(5px);
}

/* Credits to kenny ying coding on youtube for some parts of song list that helped */
.songs {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}

.song {
    background: rgba(255,255,255,0.1);
    border: none;
    color: ghostwhite;
    width: 100%;
    height: auto;
    border-radius: 1vw;
    font-family: 'Luminary Serif';
    transition: 0.2s;
}

.song:hover {
    background: rgba(255,255,255,0.2);
    transform: scale(1.05);
    cursor: pointer;
}

.songsbutton {
    display: flex;
    justify-content: center;
    gap: 30px;

    margin-bottom: 20px;
}

.songsbutton button {
    background: rgba(255,255,255,0.08);

    border: none;
    outline: none;

    color: ghostwhite;

    width: 60px;
    height: 40px;

    border-radius: 50%;

    transition: 0.2s;
}

.songsbutton button:hover {
    background: rgba(255,255,255,0.2);

    transform: scale(1.05);
    cursor: pointer;
}

.msh5 {
    max-width: 27vw;
    margin: 0;
    padding: 0;
    word-wrap: break-word;
    line-height: 1.4;
}